<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<h2>Here is our posts</h2>
<ul>
  <% @rendered_posts.each do |post| %>
  <li>
    <%= post[:title]%>
    <br>
    <p>Post author is: <%=post[:author_email]%></p>
  </li>
  <%end%>
</ul>

<%=link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<%=link_to 'Sign up', "/users/sign_up", :method => :get %>
<%=link_to 'Sign in', "/users/sign_in", :method => :get%>
